@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');



*  {
    margin: 0px;
    text-align: center;
}

header {
    padding: 3px;
    background-color: #E30800;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2em;
}

main {
    background-color: white;
    padding: 5em;
}

footer {
    background-color: #E30800;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562)
}

p {
    padding: 6px;
}


h2 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #d60700;
}

a:hover {
    color: black;
}



body {
    background-color: whitesmoke;
    padding-top: 5em;
    padding-right: 25em;
    padding-bottom: 5em;
    padding-left: 25em;
}